@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap");

.credits-title,
.credits-card-name,
.credits-card-role,
.credits-card-info,
.icon-link {
  font-family: "Caesar Dressing", sans-serif; /* Fallback to sans-serif if Caesar Dressing is not available */
}

.credits-section {
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.credits-title {
  color: #ffffff;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.credits-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  height: 100%;
}

.credits-card {
  background-size: cover;
  background-position: center;
  height: 100%;
  transition: transform 0.3s ease;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.credits-card:hover {
  transform: translateY(-5px);
}

.credits-card-info {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.credits-card-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.credits-card-role {
  font-size: 1rem;
  margin: 5px 0 0 0;
}

@media (max-width: 768px) {
  .credits-grid {
    grid-template-columns: repeat(2, 1fr); /* Change to 2x2 grid */
    gap: 10px;
  }

  .credits-title {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
    margin-bottom: 15px;
  }

  .credits-card-info {
    padding: 8px; /* Adjust padding for smaller cards */
  }

  .credits-card-name {
    font-size: 1rem; /* Adjust font size for smaller cards */
  }

  .credits-card-role {
    font-size: 0.9rem; /* Adjust font size for smaller cards */
  }
}

@media (max-width: 480px) {
  .credits-title {
    font-size: 1.2rem; /* Further reduce font size for very small screens */
  }

  .credits-card-info {
    padding: 5px; /* Adjust padding for smaller screens */
  }

  .credits-card-name {
    font-size: 0.9rem; /* Adjust font size for very small screens */
  }

  .credits-card-role {
    font-size: 0.8rem; /* Adjust font size for very small screens */
  }
}

.credits-icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.icon-link {
  color: #ffffff;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.icon-link:hover {
  color: #0077b5; /* LinkedIn Blue */
}

@media (max-width: 768px) {
  .credits-icons {
    gap: 10px; /* Adjust gap for smaller screens */
  }

  .icon-link {
    font-size: 1rem; /* Adjust icon size for smaller screens */
  }
}

@media (max-width: 480px) {
  .credits-icons {
    gap: 8px; /* Further reduce gap for very small screens */
  }

  .icon-link {
    font-size: 0.9rem; /* Adjust icon size for very small screens */
  }
}
